footer(class=`${$pageRootClassName}__section`)
    div.articleFooter
        div(class=`${$pageRootClassName}__layout`)
            div.articleFooter__body
                div.articleEnd
                    //- span.articleEnd__content *&nbsp;*&nbsp;*
