div(class=`${$pageRootClassName}__shadows`)
    div.shadows
        div.shadows__body.shadows__body_side_left
            include ../components/unscrollButton
        div.shadows__body.shadows__body_side_right
            include ../components/themeToggleButton

        include ../components/scrollProgressBar
        include ../components/controlsBar
