// Параметры шрифта
$font = {
  style: normal,
  variant: normal,
  weight: 400,
  size: 12pt,
  height: 1.25,
  // family: "'Scada', Arial, Helvetica, sans-serif"
  family: "'Open Sans', Verdana, Geneva, sans-serif",
}

// Page base classname
$pageRootClassName = 'page'

// Num columns in responsive layout grid
// $grid = 12

// Page layout options
$pageLayout = {
  screens: 0 288 360 432 1296,
  default: 3,
  maxWidth: 720 720 720 720 864,
  marginSafe: 12 12 12 12 24,
  marginPage: 0 6 12 18 24,
  bgColor: {
    light: #fff,
    // light: #fafafa,
    dark: #121212,
    // dark: #001f3f,
    // dark: #1b2120,
    // dark: #1b2225,
  }
}

// Article header options
$articleHeader = {
  marginTop: 32 48 64 96 128,
}

// Article header options
$articleMain = {
  // marginTop: 8 12 16 24 32,
  marginTop: 0 0 0 0 0,
}

// Title component options
$articleTitle = {
  sizes: {
    h1: {
      fontSize: 21 24 30 36 48,
      lineHeight: 28 36 44 52 60,
      // fontSize: 24 30 36 48 60,
      // lineHeight: 36 44 52 60 68,
    },
    h2: {
      fontSize: 18 21 24 27 30,
      // fontSize: 16 18 21 24 27,
      lineHeight: 28 32 36 40 44,
      // lineHeight: 24 28 32 36 40,
    },
  },
  // fontFamily: "'Scada', Arial, Helvetica, sans-serif",
  fontFamily: "'Open Sans', Verdana, Geneva, sans-serif",
  textColor: {
    light: rgba(0, 0, 0, .88),
    dark: rgba(255, 255, 255, .88),
  },
}

// Info options
$articleInfo = {
  fontSize: 10 11 12 14 16,
  lineHeight: 16 16 20 20 24,
  // fontFamily: "'Scada', Arial, Helvetica, sans-serif",
  fontFamily: "'Open Sans', Verdana, Geneva, sans-serif",
  textColor: {
    light: rgba(0, 0, 0, .48),
    dark: rgba(255, 255, 255, .48),
  },
  marginTop: 16 16 16 20 24,
}

// Article section options
$articleSection = {
  marginTop: 28 32 36 40 44,
}

// Article paragraph options
$articleParagraph = {
  // fontWeight: 400,
  fontWeight: 300,
  fontSize: 14 16 16 17.9 21,
  // fontSize: 14 16 18 21 24,
  lineHeight: 28 32 32 36 40,
  // lineHeight: 28 32 36 40 44,
  // fontFamily: "'Lora', Georgia, serif",
  fontFamily: "'Merriweather', Georgia, serif",
  // fontFamily: "'PT Serif', Georgia, serif",
  textColor: {
    light: rgba(0, 0, 0, .88),
    dark: rgba(255, 255, 255, .88),
    // light: #001f3f,
    // dark: #fff,
  },
  // textAlign: justify,
  textAlign: left,
  phraseMark: {
    padding: 2 3 3 4 4,
    borderRadius: 2 2 2 3 3,
    margin: -1 -1 -1 -2 -3,
  }
}

// Figure options
$articleFigure = {
  fontSize: 11 12 14 16 18,
  lineHeight: 16 16 20 20 24,
  // fontFamily: "'Scada', Arial, Helvetica, sans-serif",
  fontFamily: "'Open Sans', Verdana, Geneva, sans-serif",
  textColor: {
    light: rgba(0, 0, 0, .64),
    dark: rgba(255, 255, 255, .64),
  },
  pictureBorderRadius: 2 2 3 3 3,
  captionMarginTop: 4 4 8 12 12,
}

// Subtitle options
$subtitle = {
  fontSize: 18 21 24 27 30,
  // fontSize: 16 18 21 24 27,
  lineHeight: 28 32 36 40 44,
  // lineHeight: 24 28 32 36 40,
  marginTop: 8 12 12 16 16,
  // fontFamily: "'Scada', Arial, Helvetica, sans-serif",
  fontFamily: "'Open Sans', Verdana, Geneva, sans-serif",
  textColor: {
    light: rgba(0, 0, 0, .88),
    dark: rgba(255, 255, 255, .88),
  }
}

// Sides options
$side = {
  width: {
    small: 80,
    big: 120
  }
  // minWidth: 160
  // maxWidth: 160
  // fontSize: 18 21 24 27 30,
  // // fontSize: 16 18 21 24 27,
  // lineHeight: 28 32 36 40 44,
  // // lineHeight: 24 28 32 36 40,
  // marginTop: 8 12 12 16 16,
  // fontFamily: "'Scada', Arial, Helvetica, sans-serif",
  // textColor: {
  //   light: rgba(0, 0, 0, .88),
  //   dark: rgba(255, 255, 255, .88),
  // }
}

$unscrollButton = {
  width: {
    small: 80,
    big: 120
  }
}

$themeToggleButton = {
  position: bottom,
  margin: {
    small: 16,
    big: 32
  },
  size: {
    small: 48,
    big: 64
  },
  icon: {
    size: {
      small: 24,
      big: 36,
    }
  }
}
