@require '_variables';
@require '_mixins';
@require '_functions';
@require '_extends';
@require 'global';

// blocks
@require 'blocks/page';
@require 'blocks/article/articleHeader';
@require 'blocks/article/articleMain';
@require 'blocks/article/articleFooter';
@require 'blocks/article/articleTitle';
@require 'blocks/article/articleInfo';
@require 'blocks/article/articleSection';
@require 'blocks/article/articleParagraph';
@require 'blocks/article/articleFigure';
@require 'blocks/article/articleEnd';
@require 'blocks/shadows';
@require 'blocks/unscrollButton';
@require 'blocks/scrollProgressBar';
@require 'blocks/themeToggleButton';
// @require 'blocks/controlsBar';
