// Scroll page progress

.scrollProgressBar
  position: fixed
  top: 0
  left: 0
  z-index: 2
  display: block
  width: 100%
  width: 100vw
  height: .25em
  padding: 0
  left: 0
  background-color: transparent
  visibility: visible
  user-select: none
  pointer-events: none

  &__value
    position: absolute
    top: 0
    left: 0
    z-index: 1
    display: block
    width: 0%
    height: 100%
    background-color: #0091ea
    opacity: .64
    transition: width .08s linear

    .article_theme_dark &
      background-color: #e1f5fe
