// Article header

.articleHeader
  @extends $articleSemantics
  padding-top: px2em($articleHeader.marginTop[$pageLayout.default])
  transition: opacity .48s linear .24s, transform .48s linear 0s

  for $_layout, $i in $pageLayout.screens
    @media all and (min-width: getMQWidth($i))
      padding-top: px2em($articleHeader.marginTop[$i])
